{
  :miners [
    {:name "Miner Name" :src "API URL" :expected 500000}
  ]
  :ethdistro [
    {:name "Eth distro name" :src "API URL" :miners [
      "ID" 500000
    ]}
  ]
  :every-min 5
  :run-hour 21
  :run-minutes 22
  :treshold-ltc 0.9
  :treshold-eth 0.95
  :slack-url "URL"
}
