{
  :miners [
    {:name "Miner Name" :src "API URL" :expected 500000}
  ]
  :ethdistro [
    {:name "Eth distro name" :src "API URL" :miners [
      "ID" 500000
    ]}
  ]
  :ever-min 5
  :treshold 0.9
  :slack-url "URL"
}
